*
{
  font-size:50px;
  font-family:Berlin Sans FB Demi;
  color:#00FFFF;
  margin:3px;
}
@media (orientation:portrait)
{
   body
   {
          background:lightblue;
   }
}
img
{
  width:25%;
  height:25%;
}